html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span,
html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
  background-color: transparent !important;
}

html.dark code[data-theme*=" "],
html.dark code[data-theme*=" "] span,
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: transparent !important;
}


code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}