@import "tailwindcss";

/* Plugins */
@import "tw-animate-css";

/* Light/Dark */
@custom-variant dark (&:is(.dark *));

/* Fonts */
@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace, "Apple Color Emoji";
}

/* Shiki */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-family: var(--font-mono) !important;
}

/* Shiki Line Numbers */
pre.shiki-line-numbers code {
  counter-reset: step;
  counter-increment: step 0;
}

pre.shiki-line-numbers code:has(.line:nth-child(2)) .line::before {
  content: counter(step);
  counter-increment: step;
  width: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
  display: inline-block;
  text-align: right;
  @apply font-mono text-xs text-zinc-400 dark:text-zinc-600;
}
