/* Tailwind CSS */
@import "./globals.css";

/* Shiki */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-family: var(--font-mono) !important;
}

pre.shiki {
  @apply py-3;
}

pre.shiki span.line {
  @apply px-4 py-0.5;
}

/* Shiki Line Numbers */
pre.shiki-line-numbers code {
  counter-reset: step;
  counter-increment: step 0;
}

pre.shiki-line-numbers code:has(.line:nth-child(2)) .line::before {
  content: counter(step);
  counter-increment: step;
  width: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
  display: inline-block;
  text-align: right;
  @apply font-mono text-xs text-zinc-400 dark:text-zinc-600;
}

/* Shiki Highlight */
pre span.shiki-line-highlight {
  @apply relative z-0 inline-block w-full;
  &::after {
    content: "";
    @apply absolute top-0 left-0 -z-10 h-full w-full border-l-2 border-zinc-400 bg-zinc-600/20! opacity-40;
  }
}
